* {
  background-color: rgb(255, 255, 141);
}
#page_title {
  color: white;
  text-align: center;
  font-family: Ruslan Display;
  font-size: larger;
  font-size: 50px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
